<%- include('../layouts/auth/head.ejs') %>

<h1>Login Page</h1>

<div>
  <label for="">Email</label>
  <input type="text" placeholder="email">
</div>

<div>
  <label for="">Password</label>
  <input type="password" placeholder="Password">
</div>
<%- include('../layouts/auth/footer.ejs') %>