<div class="content-header-right text-md-end col-md-3 col-12 d-md-block d-none">
  <div class="mb-1 breadcrumb-right">
    <div class="dropdown">
      <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"><i data-feather="grid"></i></button>
      <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#"><i class="me-1"
            data-feather="check-square"></i><span class="align-middle">Todo</span></a><a class="dropdown-item"
          href="#"><i class="me-1" data-feather="message-square"></i><span class="align-middle">Chat</span></a><a
          class="dropdown-item" href="#"><i class="me-1" data-feather="mail"></i><span
            class="align-middle">Email</span></a><a class="dropdown-item" href="#"><i class="me-1"
            data-feather="calendar"></i><span class="align-middle">Calendar</span></a></div>
    </div>
  </div>
</div>