<%- include('layouts/head.ejs') %>

<h1>Index</h1>

<a href="/auth/">Login Page</a>

<form action="/send-email" method="post">

  <button type="submit">Send Email</button>
</form>

<%- include('layouts/end.ejs') %>