<!DOCTYPE html>
<html class="loading dark-layout" lang="en" data-layout="dark-layout" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= title  %> | StoreGG </title>

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600"
    rel="stylesheet">

  <!-- BEGIN: Vendor CSS-->
  <link rel="stylesheet" type="text/css" href="/vendors/css/vendors.min.css">
  <!-- END: Vendor CSS-->

  <!-- BEGIN: Theme CSS-->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-extended.css">
  <link rel="stylesheet" type="text/css" href="/css/colors.css">
  <link rel="stylesheet" type="text/css" href="/css/components.css">
  <link rel="stylesheet" type="text/css" href="/css/themes/dark-layout.css">
  <link rel="stylesheet" type="text/css" href="/css/themes/bordered-layout.css">
  <link rel="stylesheet" type="text/css" href="/css/themes/semi-dark-layout.css">

  <!-- BEGIN: Page CSS-->
  <link rel="stylesheet" type="text/css" href="/css/vertical-menu.css">
  <link rel="stylesheet" type="text/css" href="/css/pages/page-misc.css">
  <!-- END: Page CSS-->

  <!-- BEGIN: Custom CSS-->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <!-- END: Custom CSS-->

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern blank-page navbar-floating footer-static  " data-open="click"
  data-menu="vertical-menu-modern" data-col="blank-page">
  <!-- BEGIN: Content-->
  <div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
      <div class="content-header row">
      </div>
      <div class="content-body">
        <!-- Error page-->
        <div class="misc-wrapper"><a class="brand-logo" href="/">

            <h2 class="brand-text text-primary ms-1">StoreGG</h2>
          </a>
          <div class="misc-inner p-2 p-sm-3">
            <div class="w-100 text-center">
              <h2 class="mb-1">Akses Ditolak</h2>
              <p class="mb-2">Kamu tidak memiliki akses untuk halaman ini!</p>
              <a class="btn btn-primary mb-2 btn-sm-block" href="/">Back to Dashboard</a>
              <br>
              <img class="img-fluid mt-2" style="height: 450px;" src="/images/blocked.svg" alt="Error page" />
            </div>
          </div>
        </div>
        <!-- / Error page-->
      </div>
    </div>
  </div>
  <!-- END: Content-->


  <!-- BEGIN: Vendor JS-->
  <script src="/vendors/js/vendors.min.js"></script>
  <!-- BEGIN Vendor JS-->

  <!-- BEGIN: Page Vendor JS-->
  <!-- END: Page Vendor JS-->

  <!-- BEGIN: Theme JS-->
  <script src="/js/core/app-menu.js"></script>
  <script src="/js/core/app.js"></script>
  <!-- END: Theme JS-->

  <!-- BEGIN: Page JS-->
  <!-- END: Page JS-->

  <script>
    $(window).on('load', function () {
      if (feather) {
        feather.replace({
          width: 14,
          height: 14
        });
      }
    })
  </script>
</body>
<!-- END: Body-->

</html>