<div class="sidenav-overlay"></div>
<div class="drag-target"></div>

<!-- BEGIN: Footer-->
<footer class="footer footer-static footer-light">
  <p class="clearfix mb-0"><span class="float-md-start d-block d-md-inline-block mt-25">COPYRIGHT &copy; 2021<a
        class="ms-25" href="https://github.com/MuhammadAkbar11/" target="_blank">MuhammadAkbar11</a><span
        class="d-none d-sm-inline-block">, All rights Reserved</span></span>
  </p>
</footer>
<button class="btn btn-primary btn-icon scroll-top" type="button"><i data-feather="arrow-up"></i></button>
<!-- END: Footer-->



<!-- BEGIN: Vendor JS-->
<script src="/vendors/js/vendors.min.js"></script>
<% if(script?.vendors) { %>
<% script?.vendors?.forEach(link => { %>
<script src="<%= link %>"></script><%}); %>
<% } %>
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->

<script src="/vendors/js/charts/apexcharts.min.js"></script>
<script src="/vendors/js/datatable/jquery.dataTables.min.js"></script>
<script src="/vendors/js/datatable/dataTables.bootstrap5.min.js"></script>
<script src="/vendors/js/datatable/dataTables.responsive.min.js"></script>
<script src="/vendors/js/datatable/responsive.bootstrap5.js"></script>
<script src="/vendors/js/forms/repeater/jquery.repeater.min.js"></script>
<script src="/vendors/js/pickers/flatpickr/flatpickr.min.js"></script>
<script src="/vendors/js/extensions/toastr.min.js"></script>
<% if(script?.vendors) { %>
<% script?.pages?.forEach(link => { %>
<script src="<%= link %>"></script><%}); %>
<% } %>
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
<script src="/js/core/app-menu.js"></script>
<script src="/js/core/app.js"></script>
<!-- END: Theme JS-->

<!-- BEGIN: Page JS-->
<!-- END: Page JS-->

<script src="/js/main.js"></script>


<script>
  $(window).on('load', function () {
    if (feather) {
      feather.replace({});
    }
  })
</script>