<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
  <div class="navbar-header">
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item me-auto">
        <a class="navbar-brand" href="">
          <span class="brand-logo">
          </span>
          <h2 class="brand-text">StoreGG</h2>
        </a>
      </li>
      <li class="nav-item nav-toggle">
        <a class="nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse"><i
            class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x">
          </i>
          <i class="d-none d-xl-block collapse-toggle-icon font-medium-4  text-primary" data-feather="disc"
            data-ticon="disc">
          </i>
        </a>
      </li>
    </ul>
  </div>
  <div class="shadow-bottom"></div>
  <div class="main-menu-content mt-2">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      <li class="nav-item <%= path == "/" ? "active" : ""%>  ">
        <a class="d-flex align-items-center" href="index.html">
          <i data-feather="home"></i><span class="menu-title text-truncate">Dashboard
          </span>
        </a>
      </li>
      <li class="nav-item"><a class="d-flex align-items-center" href="/chat">
          <i data-feather="message-square"></i><span class="menu-title text-truncate">Chat</span></a>
      </li>
      <li class=" nav-item">
        <a class="d-flex align-items-center" href="#"><i data-feather="users"></i>
          <span class="menu-title text-truncate">Users</span><span
            class="badge badge-light-danger rounded-pill ms-auto me-1">2</span></a>
        <ul class="menu-content">
          <li>
            <a class="d-flex align-items-center" href="/users">
              <i data-feather="circle"></i>
              <span class="menu-item text-truncate">
                Users
              </span>
            </a>
          </li>
          <li><a class="d-flex align-items-center" href="/players"><i data-feather="circle"></i><span
                class="menu-item text-truncate">Players</span></a>
          </li>

        </ul>
      </li>
      <li class="nav-item">
        <a class="d-flex align-items-center" href="/chat">
          <i data-feather="crosshair"> </i>
          <span class="menu-title text-truncate">Games</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="d-flex align-items-center" href="/chat">
          <i data-feather="file-text"> </i>
          <span class="menu-title text-truncate">Transactions</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- END: Main Menu-->